<footer class="footer">
<div class="container">
    <nav class="nav justify-content-center">
        <a href="<%= root_path %>" class="nav-link">Home</a>
        <a href="#" id="about-link" class="nav-link">About</a>
        <a href="#" id="service-link" class="nav-link">Services</a>
        <a href="#" id="contact-link" class="nav-link">Contact Us</a>
        <button style="font-size: medium; color: white;" class="book-link" onclick="window.location.href='/book_session'">Book Session</button>
    </nav>
    <div class="social-icons">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-linkedin"></i></a>
    </div>
    <div class="divider"></div>
    <p>Non Copyrighted © 2024 Upload by Bristol's Independent driving school</p>
</div>
</footer>