<header class="heading">
    <div class="container text-center">
        <h3>Bumper Finance Available on Intensive Courses</h3>
    </div>
</header>

<!-- Banner Section -->
<div class="banner" style="background-image: url('<%= asset_path("home_background.png") %>');">
    <div class="text-content">
        <h1 style="font-size: 3.5em;">Building <strong>Confident Drivers</strong>,<br> One Lesson at a Time.</h1>
        <p style="font-size: larger;">Whether you’re a beginner or seeking to refine your skills, our<br>experienced instructors provide personalized lessons designed to<br>build confidence, ensure safety, and prepare you for the road<br>ahead. Join us today and take the first step toward independence!</p>
        <br><br><a href="/book_session" class="btn-custom">Book Session Now</a>
    </div>
</div>

<!-- Image Section -->
<div class="image-section">
    <div class="image-overlay">
        <p class="centered-text">
        <span class="highlighted-text">Your Driving Lesson Is <br> Just a Few <span class="text-color">Click Away</span></span><br>
        <span style="font-size: x-large;">
        The main benefit of booking with Book Instructor is you only have to enquire once and we do the hard work,<br> don’t spend days on end texting and calling local instructors to try and get booked in - our <br>online portal has access to dozens of local instructors.<br><br>
            In cases where we cannot allocate immediately, we will contact as many ADIs as is necessary in your<br> area until we have successfully allocated your booking.<br><br>
            If we cannot get you a driving instructor then we have a 100% refund guarantee</span><br><br><br><br>
            <a href="/book_session" class="btn-custom2">Book Session Now</a></p>
            </div>
            <img src="<%= asset_path('testimonial.jpeg') %>" alt="Additional Image">
</div>