@import 'bootstrap';


 /* In your application.css or a specific CSS file */
/* Your existing flash styling */
/* Your existing flash styling */
.flash {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    animation: fadeOut 3s ease-out 3s forwards; /* Fade-out after 3 seconds */
  }
  
  /* Success (green) */
  .flash.notice {
    background-color: #d4edda;  /* Green for success */
    color: #155724;
  }
  
  /* Error (red) */
  .flash.alert {
    background-color: #f8d7da;  /* Red for errors */
    color: #721c24;
  }
  
  /* Keyframes for the fade-out effect */
  @keyframes fadeOut {
    0% {
      opacity: 1; /* Fully visible at the start */
    }
    100% {
      opacity: 0; /* Fully invisible at the end */
      visibility: hidden; /* Hides the element completely */
      display: none; /* Ensures the element is not taking up space */
    }
  }
  
  .price-text{
    font-size: larger;
  }

  .card-instructor{
    font-size: xx-large;
  }
  .card-body{
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: 46%;
    top: 58%;
    background-color: rgba(251, 247, 247, 1);
    padding: 1rem;
  }

  .pic-media{
    width: 100%; height: 100%;
  }

  @media (max-width: 480px) {
    .card-body{
        top: 53%;
        width: 69%;
    }

    .card-title {
        margin-bottom: 0.25rem; /* Reduce bottom margin */
        font-size: 0.9rem; /* Adjust font size if necessary */
    }

    .price-text {
        margin-bottom: 0; /* Reduce bottom margin */
        font-size: 1rem; /* Adjust font size if necessary */
        margin-top: -8px;
    }

    .card-text {
        font-size: 0.75rem; /* Reduce text size */
        line-height: 1.2; /* Reduce line height for tighter spacing */
    }
    .pic-media{
      width: 100%;
      height: 250px;
    }
}


  .book-link {
    background: none;
    border: none;
    cursor: pointer;
    font-size: x-large;
    padding: 0;
    display: inline;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #0d6efd;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer .nav-link {
    color: #fff;
    margin: 0 10px;
}

.footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5rem;
}

.footer .divider {
    border-top: 1px solid #444;
    margin: 20px 0;
}